@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background: linear-gradient( to bottom left, white 50%, rgba(255, 208, 0, 0.671) 50%);
    font-family:lato;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

}

.last-btn{
	margin-left: 1148px;

}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

}

.tab button:hover {
    background-color: rgba(255, 208, 0, 0.671);

}

.tab button.active {
    background-color: rgba(255, 208, 0, 0.671);

}

.login-box {
    width: 250px;
    height: auto;
    padding: 20px 30px;
    position: relative;
    margin: auto;
    top: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 grey;

}

.user-icon {
    background: url('user-icon.png') no-repeat;
    width: 70px;
    height: 70px;
    background-size: 100%;
    position: absolute;
    top: -40px;
    left: 120px;

}

.login-title {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 65px;
    padding-bottom: 20px;
    margin: auto;
    font-size: 20px;

}

.form-input {
    margin-bottom: 15px;
    padding-left: 80px;
    border-radius: 50px;
    width: auto;
    height: 30px;

}

.form-select {
    margin-bottom: 15px;
    padding-left: 80px;
    border-radius: 50px;
    width: 250px;
    height: 35px;
;
}

.form-input:focus {
    background: lightgray;

}

.form-select:focus {
    background: lightgray;

}

.form-button {
    margin-bottom: 10px;
    border-radius: 50px;
    width: 49%;
    height: 30px;
    background-color: rgba(255, 208, 0, 0.671);

}

.form-link {
    margin-bottom: 5px;
    padding-left: 70px;
    margin-top: 30px;

}

.form-link:hover {
    color: red;

}

.error-msg{
    margin-bottom: 5px;
    padding-left: 30px;
    margin-top: 10px; 
    color: red;
    text-decoration: bold;

}
