@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body {
    background: linear-gradient( to bottom left, white 50%, rgba(255, 208, 0, 0.671) 50%);
    font-family:lato;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

}

.last-btn{
	margin-left: 1133px;

}

.tab button:hover {
    background-color: rgba(255, 208, 0, 0.671);

}

.tab button.active {
    background-color: rgba(255, 208, 0, 0.671);

}


.wrapper {
    height: 210px;
    width: 327px;

    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
    float: left;
    height: 210px;
    width: 153.5px;

}

.product-img img {
    border-radius: 7px 0 0 7px;

}

.product-info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;

}

.product-text {
    height: 300px;
    width: 327px;

}

.product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;

}

.product-text h1,
.product-price-btn p {
    font-family: 'Bentham', serif;

}

.product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;

}

.product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;

}

.product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;

}

.product-price-btn p {
    display: inline-block;
    position: absolute;
    top: 4.5px;
    height: 40px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;

}

span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;

}

.product-price-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: rgba(255, 208, 0, 0.671);
    cursor: pointer;
    outline: none;

}

.product-price-btn button:hover {
    background-color: #79b0a1;

}

.flex-container {
    display: flex;
    margin-bottom: 400px;

}

.flex-child {
    flex: 1;

}

.flex-child:first-child {
    margin-right: 20px;

}

