<!DOCTYPE html>

<head>
    <title>Shopping Cart -  Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
</head>

<body>
    <div class="login-box">
        <div class="user-icon"></div>
        <ul class="login-title">Reset Password</ul>
        <form method="POST">
            <input class="form-input" type="text" name="username" placeholder="Username">
            <input class="form-input" type="email" name="mail" placeholder="Email">
            <select class="form-select" name="user-type" id="user-type">
            <option value="default">Select User Type</option>
            <option value="customer">Customer</option>
            <option value="employee">Employee</option>
            </select>
            <button type="submit" class="form-button" formaction="/recoverpassword" type="submit">Send Mail</button>
            <button class="form-button" type="reset">Reset</button>
        </form>
        <p class = "error-msg"> {{error_msg}}</p>
    </div>

</body>
