<!DOCTYPE html>

<head>
    <title>Graph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}">
</head>

<body class="graph_plot">
       	<div class="tab">
        <form>
        <button class="tablinks" formaction="/employee_home">Home</button>
        <button class="tablinks last-btn"  formaction="/">Logout</button>
        </form>
        
    <img src="../static/gadgets_info.png" alt="Trulli" width="500" height="333"/>
    </div>
    </div>
</body>

</html>